<!DOCTYPE html>
<html lang='en' ng-app='app'>
  <head>
    <meta charset="UTF-8">
    <title>Angular Todo</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="MainController">
    <section class='demo'>
      <input type='text' class='todo-input' placeholder='new todo' ng-model='newTodo'>
      <button ng-click='addTodo(newTodo)'>add</button>
      <h3 ng-if='!todos.length'> You have no todos today</h3>
      <ul>
        <li ng-repeat='todo in todos' ng-click='done($index)'>
          <h3>{{todo.title}}</h3>
        </li>
      </ul>
    </section>
    <section class='code'>
      <h1>$rootScope.todos</h1>
      <pre>{{ todos | json }}</pre>

    </section>
    <script src='angular.min.js'></script>
    <script src='app.js'></script>
  </body>
</html>
